@font-face {
  font-family: "Alpine";
  src: url("/fonts/alps-6.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Alpine, sans-serif";

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.theCarousel {
  height: 85vh !important;
}

.color {
  height: 10vh !important;
  
}

.imgCarousel {
  height: 60vh !important;
}

.activeItem {
  border: 3px solid whitesmoke !important; 
}

.equipement {
  position: relative !important;
}

.hoverMenu:hover {
  border-bottom: 2px solid #245e97;
}

.video {
  width: 100% !important;
  height: 89vh !important;
  object-fit: cover !important;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #245e97 !important;
  font-weight: bold !important;
}

.buttonInscription {
  width: 114.09px !important;
  height: 38px !important;
}

.flag {
  width: 33% !important;
  height: 5px !important;
}

.imgHeader {
  width: 100% !important;
  height: 89vh !important;
  object-fit: cover;
}

.imgSection {
  width: 100% !important;
  height: 600px !important;
  object-fit: cover;
  transition: .3s ease-in-out;
  overflow: hidden;
}

/* .imgSection:hover {
  transform: scale(1.03);
  opacity: 0.7;
} */

.imgGray:hover {
  filter: grayscale(60%);
  opacity: 0.9;
}

.imghover {
  transition: .3s ease-in-out;

}

.imghover:hover {
  transition: .3s ease-in-out;
  transform: scale(1.05);
  opacity: 0.7;
  
}

.divMax {
  overflow:hidden !important;
}

.bgBlack {
  background-color: #000;
}

.heigh100Vh {
  height: 100vh !important;
  width: 100% !important;
  object-fit: cover !important;
}

.imgSoc {
  height: 70vh !important;
  width: 98% !important;
  object-fit: cover !important;
}

.imgSocMiddle {
  height: 34vh !important;
  width: 98% !important;
  object-fit: cover !important;
}